In [24]:
import warnings
warnings.simplefilter("ignore")

In [8]:
print(pyodbc.drivers())

['SQL Server', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)']

In [9]:
#importaçao das bibliotecas python
import pyodbc #API para conectar python ao banco 
import pandas as pd
import os
from datetime import datetime
from plyer import notification

# create SQL connection
connection = pyodbc.connect(driver = '{ODBC Driver 17 for SQL Server}',
                           host = 'SOLAR-NB01',
                           database = "WideWorldImporters",
                           trusted_connection = 'yes')
                           
# SQL Command to read the data
sqlQuery = "SELECT* FROM Sales.Orders WHERE LastEditedBy =7"

# Getting the data from sql into pandas dataframe
df = pd.read_sql(sql = sqlQuery, con = connection)

# Export the data on the Desktop
df.to_csv(os.environ["userprofile"] + "\\C:\Users\solag\OneDrive\Área de Trabalho\PYTHONSCRIPT\\"  + ".csv", index = False)
datetime.now().strftime("%d-%b-%Y %H%M%S")

# Display Notifiction to User
notification.notify(title="Report Status!!!",
                   message=f"Sales data has been successfully saved into Excel.\
                   \nTotal Rows: {df.shape[0]}\nTotal Columns: {df.shape[1]}",
                   timeout = 10)

In [2]:
#Automaçao de Relatorio com Python
import pyodbc # API para conectar ao banco
import pandas as pd # Biblioteca para tratamento de dados
import os
import win32com.client as win32 # Biblioteca para envio de email pelo Outlook
from datetime import datetime # Biblioteca para gestao de tempo
from plyer import notification # Biblioteca para notificaao
import warnings
warnings.simplefilter("ignore")

# create SQL connection
connection = pyodbc.connect(driver = '{ODBC Driver 17 for SQL Server}',
                           host = 'SOLAR-NB01',
                           database = "WideWorldImporters",
                           trusted_connection = 'yes')
                           
# SQL Command to read the data
sqlQuery = "SELECT TOP(10)* FROM Sales.CustomerTransactions WHERE LastEditedBy =10"
#sqlQuery="SELECT* FROM Purchasing.PurchaseOrders"

# Getting the data from sql into pandas dataframe
df = pd.read_sql(sql = sqlQuery, con = connection)

# Display Notifiction to User

df = pd.read_sql(sql = sqlQuery, con = connection)

#Valor imposto por cliente
Valor_imposto=df[["TaxAmount","CustomerID"]].groupby('CustomerID').sum()
Valor_imposto

#Valor de transacao por cliente
transacao=df[["CustomerID","TransactionAmount"]].groupby('CustomerID').sum()
transacao

# enviar um email com o relatório
outlook = win32.Dispatch('outlook.application')
mail = outlook.CreateItem(0)
mail.To = 'johnny.achille@solargroup.com.br'
mail.To = 'lucas.neves@solargroup.com.br'
mail.To = 'inaldo.tavares@solargroup.com.br'
mail.Subject = 'Relatório de imposto e transaçao'
mail.HTMLBody = f'''
<p>Prezados,</p>

<p>Segue o Relatório de imposto e o valor de transacao semanal por cada cliente.</p>

<p>Imposto:</p>
{Valor_imposto.to_html(formatters={'Valor Final': 'R${:,.2f}'.format})}


<p>Ticket Médio dos Produtos em cada Loja:</p>
{transacao.to_html(formatters={'trasacao': 'R${:,.2f}'.format})}

<p>Qualquer dúvida estou à disposição.</p>

<p>Att.,</p>
<p>johnny,Analista</p>
'''

mail.Send()

# Display Notifiction to User
notification.notify(title="Report Status!!!",
                   message=f"Sales data has been successfully saved into Excel")

In [17]:
#visualizar os dados
df.head(5)

,CustomerTransactionID,CustomerID,TransactionTypeID,InvoiceID,PaymentMethodID,TransactionDate,AmountExcludingTax,TaxAmount,TransactionAmount,OutstandingBalance,FinalizationDate,IsFinalized,LastEditedBy,LastEditedWhen
0,2,832,1,1,None,2013-01-01,2300.0,345.00,2645.00,0.0,2013-01-02,True,10,2013-01-02 11:30:00
1,5,803,1,2,None,2013-01-01,405.0,60.75,465.75,0.0,2013-01-02,True,10,2013-01-02 11:30:00
2,7,1,1,3,None,2013-01-01,90.0,13.50,103.50,0.0,2013-01-02,True,10,2013-01-02 11:30:00
3,11,1,1,4,None,2013-01-01,445.2,66.78,511.98,0.0,2013-01-02,True,10,2013-01-02 11:30:00
4,15,905,1,5,None,2013-01-01,704.0,105.60,809.60,0.0,2013-01-02,True,10,2013-01-02 11:30:00